<div class="container">
  <div class="center jumbotron text-center">
    <h1>メッセージ一覧</h1>
  </div>
    <% user = User.find_by(id: @message.receive_user_id) %>
      <% @messages.each do |message| %>
        <div>
          <div class="media-left">
            <% if @user.picture? %>
              <%= image_tag @user.picture.url, :size => '50x50' %>
            <% else %>
            　<%= image_tag "/assets/default.jpg", :size => '50x50' %>
            <% end %>
          </div>
          <div class="media-body">
            <div>
              <%= link_to message.user.name, user_path(message.user) %> <span class="text-muted">送信日<%= message.created_at.strftime('%Y/%m/%d') %></span>
            </div>
            <div>
              <%= message.content %>
              <br>
              <% if current_user == message.user %>
                <%= link_to "削除", user_message_path(current_user, message), method: :delete, data: [confirm: "削除してよろしいですか？" ], class: 'btn btn-danger btn-xs' %>
              <% end %>
            </div>
          </div>
          <hr>
        </div>
      <% end %>
    
  <h3>メッセージ</h3>
  <%= render 'messages/form', message: @message %>
  <%= link_to "ユーザ詳細へ戻る", user_path(current_user) %>
</div>