<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-2">
      <% if @user.picture? %>
        <%= image_tag @user.picture.url, :size => '100x100' %>
      <% else %>
      　<%= image_tag "/assets/default.jpg", :size => '100x100' %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <h2><%= @user.name %></h2>
      <%= link_to "メッセージを送る", user_messages_path(current_user), class: 'btn btn-success btn-xs' %>
      <% if @user.id == current_user.id %>
        <%= link_to "プロフィールを編集する", edit_user_path, class: 'btn btn-success btn-xs' %>
      <% end %>
    </div>
  </div>  
    <br>
  <div class="card offset-sm-2 col-sm-8">
    <%= @user.plofile %>
  </div>
  <br>
  <div class="row">
    <div class="offset-sm-2 col-sm-8" >
      <ul class="nav nav-tabs nav-justified mb-3">
        <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">質問 <span class="badge badge-secondary"><%= @count_questions %></span></a></li>
        <li class="nav-item"><a href="<%= answers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(answers_user_path(@user)) %>">回答 <span class="badge badge-secondary"><%= @count_answered_questions %></span></a></li>
        <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">お気に入り <span class="badge badge-secondary"><%= @count_likes %></span></a></li>
      </ul>
      <%= render 'answers/answers', answers: @answers %>
    </div>
  </div>
</div>  